@media screen and (max-width: 768px){

	.head{
		width: 100% ;
	}
	.container{
		width: 100% ;
		padding: 0 0;
	}
	.left .image img{
    	margin: 0;
    	width: 100%;
    	border: none;
	}
	.ref, .job, .edu, .about_me, .header {
    	padding: 15px;
	    font-size: 16px;
	    line-height: 25px;
	}
	.info {
    	font-size: 14px;
    }
    h5 {
    	font-size: 20px;
	}	
	h6 i .fa{
	    font-size: 16px;
	    line-height: 20px;
	}
	ul li {
	    font-size: 15px;
	    line-height: 25px;
	}
	.background_image .name {
    	padding: 10px 0 0 0;
	}
	.frameworks, .languages {
   		width: 100%;
	}
}
@media screen and(min-width: 900px){
	.contact ul li a i .fa{
		font-size: 12px;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px){
	.container{
		width: 90%;
	}
	.left .image img{
		border-radius: 50%;
    	margin: 0 0 10%;
    	width: 200px;
    	border: 2px solid;
	}
	.head .background_image{
		height: 250px;
		background-position: center;
	}
	.container{
		padding: 0 20px;
	}
	.tablet_heading{
		display: block;
	}
	.tablet_heading .name{
		float: left;
    	font-size: 24px;
    	color: gold;
    	font-weight: bold;
	}
	.tablet_heading .title{
		float: left;
		padding-left: 100px;
		text-align: center;
	}
	.background_image .name,.header nav ul h3{
		display: none;
	}
}